@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proximanova-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


body {
    margin: 0;

    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;

    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 15px;
}


/* Container
===================*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header
===================*/

.header {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    height: auto;

    position: fixed;

    background-color: #fff;
}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    width: 100%;

}

.logo-icon {
    height: 71px;
}

/* Nav
===================*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;

    color: #333333;
    text-decoration: none;
    opacity: .75;

    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.button_contact {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.contact-icon {
    height: 35px;
}

.contact-info {
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.contact-info p {
margin: 0;
font-size: 16px;
}
.contact-info .phone-number {
    font-size: 26px;
    font-weight: bold;
}

/* Intro
===================*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 100px;


}

.intro__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 40px;
    padding-top: 100px;
    padding-left: 75px;
    padding-right: 75px;
}

.intro__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    text-align: left;
}

.intro__title {
    margin: 0 0 30px;

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 0;

    font-size: 22px;
    color: #333333;
    line-height: 1.5;
    font-weight: 400;
}

.bacbackground__intro {
    height:654px;
    width:666px;

}


/* Button
===================*/
.btn-try {
    display: flex;
    height: 65px;
    width: 310px;
    justify-content: center;
    align-items: center;
    background-color: #FFB800;
    text-decoration: none;
    color: #333333;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;

}

/* Checking_the test task
===================*/
.check_test {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

.check_test_container {
    display: flex;
    width:100%;
    flex-direction: column;
    gap: 40px;
}

.check_test_title {
    font-size: 30px;
    font-weight: 800;
    color: #333333;
}

.check_test__content {
    display: flex;
    width:100%;
    flex-direction: row;
}

.check_test_photo {
    width: auto;
    height: 350px;
}

.check_test__text {
    padding: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #333333;
}


/* Company info
===================*/
.company_info {
    background-color: #FFDF00;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    padding-left: 75px;
    padding-right: 75px;
}

.company_info_container {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
}

.company_info_title {
    font-size: 30px;
    font-weight: 800;
    color: #333333;
    margin-bottom: 50px;
}

.company_info__content {
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: space-between;
}

.company_comercial_icons {
    width:350px;
    padding-top: 28px;

}

.company_info_photo {
    width: auto;
    height: 350px;
}

.company_info__text {

    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    color: #333333;
    width: 570px;
}

.text_title {
    font-size: 16px;
}

/* Footer
===================*/

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.copyright {
    display: flex;
    flex-direction: column;
    width: 450px;
    background-color: #FFD00E;
    padding-top: 40px;
    padding-left: 75px;
    padding-bottom: 55px;
    padding-right: 30px;
    font-size: 10px;
}

.copyright_icon {
    height: 60px;
    margin-bottom: 30px;

}

.copyright_main_text {
    color: #333333;
    margin-bottom: 50px;
}

.copyright_name {
        color: #333333;

}

.container {
    width: calc(100%-450px);
    padding-top: 50px;
    padding-left: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    background-color: #2D2C2CE5;
    color: #fff;
}

.footer_upper_text {
    margin-bottom: 30px;
}

